<div class="container-fluid">
	<h1>{{title}}</h1>
</div>

<div class="container" id="main">
	<div class="grid-row">
	<div class="col-md-4">
		<nav>
			<ul class="nav nav-pills">
				<li routerLink="/catullus" routerLinkActive="active">Catullus</li>
				<li routerLink="/about" routerLinkActive="active">De situ</li>
			</ul>	
		</nav>
			<input type="text" placeholder="inquirere" #listFilter (keyup.enter)="0"/>
		</div>
	</div>
</div>

<div class="container">
	<div class="grid-row">
		<div class="col-md-3">
			<ul class="carmina">
				<li *ngFor="let carmen of carmina | searchPipe:listFilter.value"
						routerLink="/{{carmen.id}}" routerLinkActive="active">
					<span class="badge">{{carmen.id}}</span>
					{{carmen.caput | slice:0:20}}
				</li>
			</ul>
		</div>

		<div class="col-md-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>