<div *ngIf="carmen">
	<h2>{{carmen.caput}}</h2>

		<nav>
			<button class="btn btn-default" (click)="getPrevious()">Ante</button>
			<button class="btn btn-default" (click)="showEnglish = !showEnglish">Anglice</button>
			<button class="btn btn-default" >Commentaria</button>
			<button class="btn btn-default" (click)="getNext()">Deinde</button>
		</nav>

		<div class="container" id="text">
			<div class="row">
				<div class="col-md-4" id="latin">
					<div [innerHTML]="carmen.latin">
						{{carmen.latin}}
					</div>
					
				</div>

				<div class="col-md-4" id="english" *ngIf="showEnglish">
					<div [innerHTML]="carmen.english">
						{{carmen.english}}
					</div>
				</div>
			</div>
		</div>
		
</div>