<div *ngIf="carmen" class="col-md-10" id="dash">
	<h2>{{carmen.caput}} - <span>{{carmen.meter}}</span></h2>
	<div>
		<nav>
			<ul class="nav nav-pills">
				<li (click)="getPrevious()">Ante</li>
				<li (click)="showEnglish = !showEnglish">Anglice</li>
				<li >Commentaria</li>
				<li (click)="getNext()">Deinde</li>
			</ul>
		</nav>
	</div>

		<div class="container" id="text">
			<div class="row">
				<div class="col-md-4" id="latin">
					<div [innerHTML]="carmen.latin">
						{{carmen.latin}}
					</div>
					
				</div>

				<div class="col-md-4" id="english" *ngIf="showEnglish">
					<div [innerHTML]="carmen.english">
						{{carmen.english}}
					</div>
				</div>
			</div>
		</div>
		
</div>