<h2>Gaius Valerius Catullus</h2>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<img src="app/img/GVC.jpg">
		</div>
		<div class="col-md-6">
			<p>Gaius Valerius Catullus was born to a leading equestrian family of Verona, in Cisalpine Gaul. The social prominence of the Catullus family allowed the father of Gaius Valerius to entertain Julius Caesar when he was the Pproconsul of both Gallic provinces. Catullus was raised primarily by his mother, Blandus, who exposed him to poetry and the works of Sappho and Callimachus at a young age. In a poem, Catullus describes his happy homecoming to the family villa at Sirmio, on Lake Garda, near Verona; he also owned a villa near the resort of Tibur (Tivoli).</p>
			<p>Catullus appears to have spent most of his young adult years in Rome. His friends there included the poets Licinius Calvus, and Helvius Cinna, Quintus Hortensius (son of the orator and rival of Cicero) and the biographer Cornelius Nepos, to whom Catullus dedicated a libellus of poems, the relation of which to the extant collection remains a matter of debate. He appears to have been acquainted with the poet Marcus Furius Bibaculus. A number of prominent contemporaries appear in his poetry, including Cicero, Caesar and Pompey.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p>It was probably in Rome that Catullus fell deeply in love with the "Lesbia" of his poems, who is usually identified with Clodia Metelli, a sophisticated woman from the aristocratic house of patrician family Claudii Pulchri, sister of the infamous Publius Clodius Pulcher, and wife to proconsul Quintus Caecilius Metellus Celer. He spent the provincial command year summer 57 to summer 56 BC in Bithynia on the staff of the commander Gaius Memmius. While in the East, he traveled to the Troad to perform rites at his brother's tomb.</p>
			<p>There survives no ancient biography of Catullus: his life has to be pieced together from scattered references to him in other ancient authors and from his poems. Thus it is uncertain when he was born and when he died. St. Jerome says that he died in his 30th year, and was born in 87 BC. But the poems include references to events of 55 and 54 BC.</p>
			<p>Many historians assume that after a while Catullus had better things to do, so he just wandered off somewhere, possibly to Northern California.</p>
		</div>
		<div class="col-md-3">
			<img src="app/img/Sirmione.jpg">
		</div>
	</div>
</div>